name: Development Build

on:
  push:
    branches:
      - dev

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Cache gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build debug APK
        run: ./gradlew clean assembleDebug

      - name: Upload debug build to Firebase
        run: ./gradlew appDistributionUploadDebug